#textarea {
    width: 300px;
    height: 500px;
}

#button {
    width:2px;
    height:3px;
}

#file {
    width: 200px;
    height: 20px;
    padding-top:25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: bold 1px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#fileOpener {
    padding: auto;
}

#cancel {
    margin-right:2px;
}

#exit {
    margin-top: 0px;
    margin-right: 0px;
}