#textarea {
    width: 300px;
    height: 500px;
}

#button {
    width:2px;
    height:3px;
}

#file {
    width: 200px;
    height: 20px;
    padding-top:250px;
    padding-bottom: 250px;
    padding-left: 200px;
    padding-right: 200px;
    border: bold 1px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 250px;
    margin-bottom: 250px;
}

#FileOpener {
    padding: auto;
}

#cancel {
    margin-right:2px;
}